/* #cv-form{
    display:none;
} */

#cv-template{
    display:none;
}

.myimg{
    border: 1px solid grey;
    border-radius: 50%;
    width: 150px;
}

.background{
    background-color:rgb(173, 242, 242);
}